body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 450px;
    margin: 50px auto;
    background: gray;
    
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 45px;
}

.input-box input {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
    color: black;
    background-color: skyblue;
}

li {
    list-style: none;
    margin-top: 12px;
    padding: 8px;
    background: #eee;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
